
extends layout
block content

  div(class='relative h-screen bg-cover bg-center mt-5' style='background-image: url("https://wallpaperaccess.com/full/1764532.jpg");')
    div(class='absolute inset-0 bg-black bg-opacity-40')
    div(class='absolute inset-0 flex items-center justify-start p-8 pt-5') 
      div(class='max-w-md text-white grid') 
        h1(class='text-4xl font-semibold mb-4 text-red-700') TLP Imports: Quality Cars, Trusted Service"
        p(class='text-sm text-gray-300') TLP Imports is a trusted company specializing in importing and selling high-quality vehicles. With a focus on providing reliable and affordable cars, we offer a wide selection of both new and pre-owned vehicles to meet the needs of our customers. Whether you're looking for a sleek sedan, a family SUV, or a powerful truck, TLP Imports ensures that each car is thoroughly inspected for quality and performance. Our commitment to customer satisfaction and competitive pricing makes us your go-to source for all your automotive needs.
        button(class="border px-5 bg-red-700 rounded-md mt-8 w-44 py-1 border-transparent transform transition-all duration-300 hover:bg-red-800 active:scale-95 focus:outline-none") Order Now


