extends layout
block content

  //- div(class="services-container py-16 border border-red-600")
  h2(class="text-3xl text-center font-semibold mb-20 text-red-700") Our Services
  div(class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 mb-28 " )
    div(class="service-card bg-white p-6 rounded-lg shadow-lg")
      h3(class="text-xl font-semibold mb-4") Vehicle Sourcing
      p(class="text-gray-700") We help you find the perfect vehicle based on your preferences, whether it's new or used. We source from reliable auctions and trusted suppliers.
    div(class="service-card bg-white p-6 rounded-lg shadow-lg")
      h3(class="text-xl font-semibold mb-4") Vehicle Modifications
      p(class="text-gray-700") Customize your vehicle to match your style. From performance upgrades to aesthetic changes, we provide expert modification services.
    div(class="service-card bg-white p-6 rounded-lg shadow-lg")
      h3(class="text-xl font-semibold mb-4") Shipping & Delivery
      p(class="text-gray-700") We handle the logistics of shipping your vehicle safely and efficiently, from door to door, ensuring it arrives on time and in perfect condition.




